
$main: #7cc6da;
$black: #000000;
$white: #ffff;

$text: #333f50;
$title: #262626;
$footer: #3a3a3a;
$field: #f8f8f8;
$button: #cef4ff;
$buttonHover: #addff7;
$link: #addff7;
$block-shadow: rgba(98, 172, 193, 0.15);

$text: #e5e9f0;