.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 25px 40px;
  background: white;
  box-shadow: 5px 10px 5px lightgrey;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  transition: .7s;

  &-dropdown{
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    z-index: 150;
  }
}